@using FmsWeb.Model
@{
    ViewBag.Title = "AppDetail";
}
<script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });
    function Start(appId, appVersion) {
        $('#Title').html("");
        $('#Track').html("");
        $('#status').html("");
        $('#UserCommentList').html("");
        
        $('#Links').show();
        
        

        $('#Continue').html("<img src='/Content/images/loader.gif'>");
        var url = "/FMS/Start/?appId=" + appId + "&appVersion=" + appVersion;
        $.getJSON(url, null, function (submission) {
            GlobalTransactionId = submission.TransactionId;
            

            GlobalFeed = submission.Feed;
            $('#feed').val(GlobalFeed);
            var userDiv = $('#UserResponse');
            userDiv.show("slow");


            GenerateFeed(submission.TransactionId);
            DisplayCommentSection();
        });
    }

    function GenerateFeed(transactionId) {
        Continue("GenerateAndValidate", "<a href='javascript:void(0)' onclick='ContinueToTC2(\"" + transactionId + "\");'>Continue to TC2</a>", transactionId);
    }

    function ContinueToTC2(transactionId) {
        Continue("ContinueToTC2", "Waiting for vendor response", transactionId);
    }

    function VendorTc2Response(transactionId) {
        Continue("VendorTc2Response", "<a href='javascript:void(0)' onclick='ContinueToProd(\"" + transactionId + "\");'>Continue to Prod</a>", transactionId);
    }
    
    function ContinueToProd(transactionId) {
        var statusId = "";
        var message = "";
        var id = $("#submissionId").val();
        $.getJSON("/FMS/GetSubmissionStatus/?submissionId=" + id, null, function (data) {
            statusId = data;
            // 6: Ready To Publish
            if (statusId != "6") {
                message = "Current submission status is not Ready To Publish! Are sure to update the status?\nPressing OK the status will be updated permanently.\nPressing Cancle the status will be updated momentarily and then be reverted back once this action is done.";
                var retVal = confirm(message);

                $.post("/FMS/UpdateState/?submissionID=" + id, { stateID: "6", oldStateID: statusId, transaction: retVal }, function () {
                    Continue("ContinueToProd"
                        , "<a href='javascript:void(0)' onclick='BackupFeedAndPackages(\"" + transactionId + "\");'>Backup Feed And Packages</a>"
                        , transactionId
                        , function () {
                            if (retVal == false) {
                                $.post("/FMS/UpdateState/?submissionID=" + id, { stateID: statusId, oldStateID: 6, transaction: retVal }, function () {
                                });
                            }
                        });
                });
            } else {
                Continue("ContinueToProd", "<a href='javascript:void(0)' onclick='BackupFeedAndPackages(\"" + transactionId + "\");'>Backup Feed And Packages</a>", transactionId);
            }
            
        });
    }

    function TakeActionToFix(transactionId) {
        Continue("TakeActionToFix", "<a href='javascript:void(0)' onclick='BackupFeedAndPackages(\"" + transactionId + "\");'>Backup Feed And Packages</a>", transactionId);
    }
    
    function BackupFeedAndPackages(transactionId) {
        Continue("BackupFeedAndPackages", "<a href='javascript:void(0)' onclick='PublishToProd(\"" + transactionId + "\");'>Publish to Prod</a>", transactionId);
    }

    function PublishToProd(transactionId) {
        var statusId = "";
        var message = "";
        var id = $("#submissionId").val();
        $.getJSON("/FMS/GetSubmissionStatus/?submissionId=" + id, null, function (data) {
            statusId = data;
            // 7: Published
            if (statusId != "7") {
                message = "Do you want to PUBLISH this App?";
                var retVal = confirm(message);
                Continue("PublishToProd", "Done!!!", transactionId, function () {
                    if (retVal == true) {
                        $.post("/FMS/UpdateState/?submissionID=" + id, { stateID: "7", oldStateID: statusId }, function () {
                        });
                    }
                });
            } else {
                Continue("PublishToProd", "Done!!!", transactionId);
            }
        });
    }

    function Continue(continueUrl, nextAction, transactionId, callback) {
        GlobalTransactionId = transactionId;
        var url = "/FMS/" + continueUrl + "/?transactionId=" + transactionId;
        $('#UserResponse').hide();
        $('#Continue').html("<img src='/Content/images/loader.gif'>");

        keepTracking = true;
        setTimeout("DisplayTrackStatus('" + transactionId + "')", 2000); // repeat myself

       
        $.post(url, { feed: GlobalFeed }, function (submission) {
            if (submission.Failed) {
                nextAction = ReTryProcess(continueUrl, transactionId);
            }

            DisplayFeed(submission.Feed, nextAction);

        }).complete(function () {
            keepTracking = false;
            Track(transactionId);
            ShowStatus(transactionId);
            ShowErrors(transactionId);
            callback();
        });

    }

    function WorkFlow(workFlowInstanceId, title) {
        var div = $('#Title');
        div.html("<h2>" + title + "</h2>");
        $('#FailReason').hide();
        $('#Links').show();
        
        document.getElementById('outputdiv').innerHTML = "";
        $.getJSON("/FMS/WorkflowDetail/?workFlowInstanceId=" + workFlowInstanceId, null, function (data) {
            Track(data.TransactionId);
            ShowStatus(data.TransactionId);
            ShowErrors(data.TransactionId);
            
            $.getJSON("/FMS/Track/?transactionId=" + data.TransactionId, null, function (tracks) {
                var track = tracks[tracks.length - 1];
                var nextAction = "";
                var pTrack;
                if (track.State == "Executing" && track.ActivityName == "Receive") {
                    pTrack = tracks[tracks.length - 2];
                    if (pTrack.ActivityName == "ContinueToTC2") {
                        nextAction = "<a href='javascript:void(0)' onclick='ContinueToTC2(\"" + data.TransactionId + "\");'>Continue To TC2</a>";
                    }
                    if (pTrack.ActivityName == "VendorTC2Response") {
                        nextAction = "Waiting for vendor response";
                    }
                    if (pTrack.ActivityName == "ContinueToProd") {
                        nextAction = "<a href='javascript:void(0)' onclick='ContinueToProd(\"" + data.TransactionId + "\");'>Continue to Prod</a>";
                    }
                    if (pTrack.ActivityName == "PublishToProd") {
                        nextAction = "<a href='javascript:void(0)' onclick='PublishToProd(\"" + data.TransactionId + "\");'>Publish to Prod</a>";
                    }
                    if (pTrack.ActivityName == "TakeActionToFix") {
                        nextAction = "<a href='javascript:void(0)' onclick='TakeActionToFix(\"" + data.TransactionId + "\");'>Take Action To Fix</a>";
                    }
                    if (pTrack.ActivityName == "BackupFeedAndPackages") {
                        nextAction = "<a href='javascript:void(0)' onclick='BackupFeedAndPackages(\"" + data.TransactionId + "\");'>Backup Feed And Packages</a>";
                    }
                }
                if (data.Failed) {
                    nextAction = ReTryProcess(pTrack.ActivityName, data.TransactionId);
                    document.getElementById("failId").value = data.FailReason;
                    
                }
                DisplayFeed(data.Feed, nextAction);
            });

            DisplayCommentSection();
        });
    }

    function ReTryProcess(step, transactionId) {
        var retValue = "Failed!!";
        if (step == "ContinueToTC2") {
            retValue = "Do needful thing and retry <a href='javascript:void(0)' onclick='ContinueToTC2(\"" + transactionId + "\");'>Continue To TC2</a>";
        }
        if (step == "ContinueToProd") {
            retValue = "<a href='javascript:void(0)' onclick='TakeActionToFix(\"" + transactionId + "\");'>Take Action To Fix</a>";
        }
        if (step == "TakeActionToFix") {
            retValue = "Do needful thing and retry <a href='javascript:void(0)' onclick='TakeActionToFix(\"" + transactionId + "\");'>Take Action To Fix</a>";
        }
        return retValue;
    }
    
    function PerformFeedDiff(feedDiffUrl) {
        $("#FeedDiffLink").trigger('click');
        feed_diff(feedDiffUrl);
        document.getElementById("feeddiffselect").value = feedDiffUrl;
    }
    
    function SaveFeed() {
        GlobalFeed = $('#feed').val();
    }
    
    function SetFailReason() {
        $('#failImage').show();
        $('#failImage').html("<img src='/Content/images/loading-small.gif' height=16/>");
        var failId = document.getElementById("failId").value;
        
        var url = "/FMS/AddFailReason/?transactionId=" + GlobalTransactionId + "&failReason=" + failId;


        $.get(url,null, function () {

        }).complete(
            function () {
                $('#failImage').hide("slow");
            });
    }
    
    function DisplayModal(div) {
        $('#' + div).modal();
        return false;
    }
</script>

<table style="vertical-align: top; border-width: 0px;">

    <tr>
        <td style="vertical-align: top; border-width: 0px; width: 300px;">
            <img style="vertical-align:top;border-width:0px;" height="55" alt="EC-CUBE" src="http://www.microsoft.com/web/handlers/webpi.ashx?command=getimage&guid=@Model.ImageGuid"/>
            <br />
            <h2>@Model.NickName, @Model.Version</h2>
            <input type="hidden" id="submissionId" value='@Model.SubmissionId' />

            <a href="javascript:void(0)" onclick="Start('@Model.NickName', '@Model.Version');">Start New WorkFlow</a>
            <br />
            <br />
            
                
                <table style="vertical-align: top; border-width: 0px;">
                    <tr>
                        <td style="vertical-align: top; border-width: 0px;">
                            <a href="javascript:void(0)" onclick="hide('subtrans');"><img src="/Content/images/expand.png" id="subtrans_img" width="30"  border="0"/></a>
                        </td>
                        <td style="vertical-align: top; border-width: 0px;">
                            <B>Submission Transaction</B>
                        </td>
                    </tr>
                </table>
                <div id='subtrans' style="display: none">
                    <table>
                        @foreach (Transaction t in Model.Transactions)
                        {
                            <tr>
                                <td>@t.New</td>
                                <td>@t.TransactionDate</td>
                            </tr>
                        }
                    </table>
                </div>
                                <table style="vertical-align: top; border-width: 0px;">
                    <tr>
                        <td style="vertical-align: top; border-width: 0px;">
                            <a href="javascript:void(0)" onclick="hide('workflow_attempts');"><img src="/Content/images/expand.png" id="workflow_attempts_img" width="30" border="0"/></a>
                        </td>
                        <td style="vertical-align: top; border-width: 0px;">
                            <B>WorkFlow History</B>
                        </td>
                    </tr>
                </table>
                
                <div id='workflow_attempts' style="display: none">
                    <table>
                        @foreach (AppWorkFlow workFlow in Model.WorkFlows)
                        {
                            <tr>
                                <td><a href="javascript:void(0)" onclick="WorkFlow('@workFlow.WorkflowInstanceId','@workFlow.TimeCreated');">@workFlow.TimeCreated</a></td>
                            </tr>
                        }
                    </table>
                </div>

        </td>
        <td style="vertical-align: top; border-width: 0px;">
            <table style="vertical-align: top; border-width: 0px;">
            <tr>
                <td colspan="2" style="vertical-align: top; border-width: 0px; width: 950px;">
                    <span id="Title"></span>
                </td>
            </tr>
                <tr>
                    <td style="border-width: 0px;">
                        <div id="Continue"></div>
                        <span id="FailReason" style="display: none">
                            Fail Reason
                            <select id="failId">
                                <option value="1">App Runtime failed on Azure             </option>
                                <option value="2">App Runtime failed on Katal             </option>
                                <option value="3">App Runtime failed on IIS 7             </option>
                                <option value="4">App Runtime failed on IIS 7.5           </option>
                                <option value="5">App Runtime failed on IIS 8             </option>
                                <option value="6">App Runtime failed on IIS Express       </option>
                                <option value="7">App Runtime failed on IIS 6             </option>
                                <option value="8">Invalid Package                         </option>
                                <option value="9">Publish to Remote server Failed         </option>
                                <option value="10">Publish to Azure site Failed            </option>
                                <option value="11">Publish to Katal Site Failed            </option>
                                <option value="12">Download from Remote server Failed      </option>
                                <option value="13">Download from Azure site Failed         </option>
                                <option value="14">Download to form Site Failed            </option>
                                <option value="15">App detection Failed in Web Matrix      </option>
                            </select>
                            <a href="javascript:void(0)" onclick="SetFailReason();">Set</a> <span id="failImage"></span>
                        </span>
                    </td>
                    <td style="text-align: right; border-width: 0px;">
                        <div id="Links" style="display: none">
                            <a href="javascript:void(0)" onclick="DisplayModal('feed-modal-content');$('#feed').val(GlobalFeed);">Feed</a> |
                            <a href="javascript:void(0)" onclick="DisplayModal('feeddiff-modal-content')" id="FeedDiffLink">Feed Diff</a> |
                            <a href="javascript:void(0)" onclick="DisplayModal('fmstrack-modal-content')">Track</a> |
                            <a href="javascript:void(0)" onclick="DisplayModal('exception-modal-content')">Exceptions</a> | 
                            <a href="javascript:void(0)" onclick="hide_small('CommentDiv');"><img src="/Content/images/plus.gif" id="CommentDiv_img" border="0"/> Comments</a>
                        </div>
                    </td>
                </tr>
            <tr>
                <td colspan="2" style="vertical-align: top; border-width: 0px; width: 950px;">
                    <span id="status"></span>

                    </td>
                </tr>
            </table>

            


            <div id="feed-modal-content" class="basic-modal">
                <h2>Feed</h2>
                <span id="UserResponse" style="vertical-align: top; width: 100%; height: 100%;">
                    <textarea id="feed" style="vertical-align: top; width: 100%; height: 650px;"></textarea>
                </span>
                <a href="javascript:void(0)" onclick="SaveFeed()">Save Feed</a>
            </div>
            
            <div id="fmstrack-modal-content" class="basic-modal">
                <h2>Tracking</h2>
                <span id="Track"></span>
            </div>
           
            <div id="feeddiff-modal-content" class="basic-modal">
                @Html.Partial("_FeedDiff")
            </div>
            
            <div id="exception-modal-content" class="basic-modal">
                <h2>Exceptions</h2>
                <span id="errors"></span>
            </div>

            <!-- preload the images -->
            <div style='display: none'>
                <img src='/Content/images/x.png' alt='' />
            </div>
            
           
            <div id='CommentDiv' style='display: none;'>
                @Html.Partial("_Comments")
            </div>

            
            
        </td>
    </tr>
</table>
