@using FmsWeb.Model
@using FmsWeb.Model

<script type="text/javascript">
    
    function GoTo(appId, appVersion, transactionId) {
        var url = "/FMS/AppDetail/?appId=" + appId + "&version=" + appVersion + "#" + transactionId;
        window.location = url;
    }

    function ChangeState(submisionID, oldStateID) {
        var url = "/FMS/";
        if (!($("#" + submisionID).val() == oldStateID)) {
            url = url + "ChangeState/?submissionID=" + submisionID + "&stateID=" + $("#" + submisionID).val() + "&oldStateID=" + oldStateID;
        }
        window.location = url;
    }

    function Display(mark, submissionID) {
        if (mark == "hide") {
            $("#link" + submissionID).show();
            $("#div" + submissionID).hide();
            $("#" + submissionID).val($("#" + submissionID).attr("oldValue"));
        }
        
        if (mark == "show") {
            $("#link" + submissionID).hide();
            $("#div" + submissionID).show();
        }
    }



</script>

<h3>Pending Submissions</h3>

            <div>
                <table>
                    <thead>
                        <tr>
                            <th>App</th>
                            <th>Version</th>
                            <th>Submission Id</th>
                            <th>State</th>
                            <th>Date Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var submission in ViewData["SubmissionPending"] as List<Submission>)
                        {
                            <tr>
							    <td>@submission.NickName</td>
                                <td>@submission.Version</td>
                                <td>@submission.SubmissionId</td>
                                <td>@submission.CurrentState</td>
                                <td>@submission.CreatedDate</td>
                                <td>
                                    @{
                                        List<SelectListItem> stateList = new List<SelectListItem>();
                                        foreach (KeyValuePair<string, string> eachItem in (Dictionary<string, string>)ViewData["StateList"])
                                        {
                                            stateList.Add(new SelectListItem
                                            {
                                                Selected = submission.StateID == eachItem.Key,
                                                Text = eachItem.Value,
                                                Value = eachItem.Key
                                            });
                                        }
                                        string divID = "div" + submission.SubmissionId;
                                        string linkID = "link" + submission.SubmissionId;
                                    }
                                    <a id="@linkID" href="javascript:void(0)" onclick="Display('show', @submission.SubmissionId)"  >Change Status</a>
                                    <div id="@divID" style="display:none" >
                                        @Html.DropDownList(submission.SubmissionId.ToString(), stateList, new { id = submission.SubmissionId.ToString(), oldValue = submission.StateID})
                                        <a href="javascript:void(0)" onclick="ChangeState('@submission.SubmissionId', @submission.StateID);" >Update</a>
                                        <a href="javascript:void(0)" onclick="Display('hide', @submission.SubmissionId)" >Cancel</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
<br/>
<h3>Submissions in Test Queue</h3>

            <div>
                <table>
                    <thead>
                        <tr>
                            <th>App</th>
                            <th>Version</th>
                            <th>Submission Id</th>
                            <th>State</th>
                            <th>Date Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Submission submission in Model)
                        {
                            <tr>
                                <td><a href="javascript:void(0)" onclick="GoTo('@submission.NickName', '@submission.Version','');">@submission.NickName</a></td>
                                <td>@submission.Version</td>
                                <td>@submission.SubmissionId</td>
                                <td>@submission.CurrentState</td>
                                <td>@submission.CreatedDate</td>
                                <td>
                                    @{
                                        List<SelectListItem> stateList = new List<SelectListItem>();
                                        foreach (KeyValuePair<string, string> eachItem in (Dictionary<string, string>)ViewData["StateList"])
                                        {
                                            stateList.Add(new SelectListItem
                                            {
                                                Selected = submission.StateID == eachItem.Key,
                                                Text = eachItem.Value,
                                                Value = eachItem.Key
                                            });
                                        }
                                        string divID = "div" + submission.SubmissionId;
                                        string linkID = "link" + submission.SubmissionId;
                                    }
                                    <a id="@linkID" href="javascript:void(0)" onclick="Display('show', @submission.SubmissionId)"  >Change Status</a>
                                    <div id="@divID" style="display:none" >
                                        @Html.DropDownList(submission.SubmissionId.ToString(), stateList, new { id = submission.SubmissionId.ToString(), oldValue = submission.StateID})
                                        <a href="javascript:void(0)" onclick="ChangeState('@submission.SubmissionId', @submission.StateID);" >Update</a>
                                        <a href="javascript:void(0)" onclick="Display('hide', @submission.SubmissionId)" >Cancel</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
<br/>

				<h3>Last WorkFlow Runs</h3>
                <table>
                    <thead>
                        <tr>
                            <th>App</th>
                            <th>Version</th>
                            <th>Last Runtime</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KeyValuePair<string, AppWorkFlow> kvp in (Dictionary<string, AppWorkFlow>)ViewData["LastWorkFlowRuns"])
                        {
                            <tr>
                                <td valign="top"><a href="javascript:void(0)" onclick="GoTo('@kvp.Value.AppId', '@kvp.Value.AppVersion', '@kvp.Value.WorkflowInstanceId|@kvp.Value.TimeCreated');">@kvp.Value.AppId</a></td>
                                <td valign="top">@kvp.Value.AppVersion</td>
                                <td valign="top">@kvp.Value.TimeCreated</td>
                                <td valign="top">
                                    <ul style='margin: 0;padding-left: 15px;'>
                                        @foreach (SubmissionStatus status in kvp.Value.Status)
                                        {
                                            <li style='font-size: 8pt;color: @(status.Pass?"green":"red")'>@status.Status</li>
                                        }   
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>